<%= form_for(@profile, :url => (@profile.new_record? ? "/profiles" : "/profiles/#{@profile.id}"), :html => { :multipart => true }) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :full_name %>
    <%= f.text_field :full_name, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :telephone %>
    <%= f.text_field :telephone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :mobile %>
    <%= f.text_field :mobile, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.number_field :position, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.fields_for :image do |t| %>
      <%= t.label :pic, "Main Image (for best results upload square photo)" %> <br>

      <% if @profile.image.present? %>
        <%= image_tag @profile.image.pic.url(:square), id: 'square_image', class: 'mb15' %><br/>
      <% else %>
        <img id="square_image" class="mb5" src="#" alt="">
      <% end %>
      <% if current_page?('/profiles/new') %>
        <%= t.file_field :pic, class: "form-control", style: "padding: 4px;", required: true %>  
      <% else %>
        <%= t.file_field :pic, class: "form-control", style: "padding: 4px;" %>
      <% end %>

    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit class: "form-control btn btn-primary" %>
  </div>
<% end %>