<div class="container">
    <h5 class="mt30 mb60 text-center color-secondary">The Team <%= link_to "(Add new member)", new_profile_path if current_user.try(:admin?)%></h5>
    <% @profiles.each do |profile| %>
        <div class="col-sm-4 text-center mb30 mobile50">
          <%= image_tag(profile.image.pic.url(:square), class: "img-circle img-responsive imgTeam center-block") if profile.image.present? %>
          <h6><%= profile.full_name %></h6>
          <p style="color: #888; line-height: 28px; font-weight: normal; font-size: 14px;">
            <%= profile.title %> 
          </p>
          <% if profile.telephone.present? %>
            <p style="color: #888; line-height: 28px; font-weight: normal; font-size: 14px;""><%= "Tel. #{profile.telephone}" %></p> 
          <% else %>
            <p style="color: #888; line-height: 28px; font-weight: normal; font-size: 14px; visibility: hidden;"><%= "Tel. #{profile.telephone}"%></p>
          <% end %>
          <% if current_user.try(:admin?) %>
            <div>Position: <%= profile.position %></div> <br>
            <div><%= link_to 'Edit', edit_profile_path(profile), class:"btn btn-default btnBlog" if current_user.try(:admin?) %></div> <br>
            <div><%= link_to 'Destroy', "/profiles/#{profile.id}", class:"btn btn-default btnBlog", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?)%></div>
          <% end %>
        </div>
    <% end if @profiles.present?%>
</div>