<% provide(:title, 'Careers in Catering and Ground Handling Services | GCG Group') %>
<% content_for :head do%>
  <meta name="description" content="GCG Group enlists only the most dedicated and qualified employees at each of our 3 divisions. We're always looking to expand our talented team. Apply now.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-careers"></section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb30 gcg-group">Join Our Team</h3>
        <p class="mt60 mb60">GCG Group is committed to providing its clients with excellent service. Thus, it enlists only the most dedicated and qualified employees at each of its three divisions. The company has assembled a talented team across its many locations, and is always looking for passionate individuals to add to it. <br/><br/>GCG Group offers a wide variety of opportunities for individuals at all levels of experience to grow within the catering and ground handling industries. Complete the form below to learn more about the positions currently available.</p>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <div class="message">


          <%#= form_for :applicant, :html => { :id => "new_applicant", class: "join"}, :url => {:controller => "home", :action => "index"} do |f| %>
          <%= form_for :applicant, :html => { :id => "new_applicant", class: "join"}, :url => {:controller => "applicants", :action => "create"} do |f| %>
            <div class="col-sm-6 col-sm-offset-3">
              <div class="form-group">
                <%= f.label :full_name, class: "sr-only" %>
                <%= f.text_field :full_name, class: "form-control", placeholder: "Full Name*", required: true %>
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
              <div class="form-group">
                <%= f.label :email, class: "sr-only" %>
                <%= f.email_field :email, class: "form-control", placeholder: "Email*", required: true %>
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
              <div class="form-group">
                <%= f.label :phone_number, class: "sr-only" %>
                <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone*", required: true %>
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
              <div class="form-group">
                <%= f.label :brand, class: "sr-only" %>
                <%= select_tag 'brand', "<option value='gcg_events'>GCG Events</option><option value='gcg_catering'>GCG Catering</option><option value='gcg_ground'>GCG Ground</option>".html_safe, {prompt: "Select Brand", class: "form-control", required: true} %>
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
              <div class="form-group">
                <%= f.label :location, class: "sr-only" %>
                <%= f.select :location_id, Location.order(name: :asc).all.map {|u| [u.name, u.id, {'data-gcg_ground' => u.gcg_ground,'data-gcg_events' => u.gcg_events,'data-gcg_catering' => u.gcg_catering }]}, {prompt: "Select Career Location"}, required: true, class: "form-control", disabled: true  %>
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
              <div class="form-group">
                <%= f.label :resume, "Resume (pdf only)" %>
                <%= f.file_field :resume, required: true %>
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
              <div class="form-group">
                <%= f.submit "Submit", class: "btn btn-default btn-xl" %>
              </div>
            </div>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  (function(){
    var optionValues = [];
    $('#applicant_location_id').each(function(){
      optionValues.push($(this));
    });

    $('#brand').on('change', function(e){
      var myvalue = (e.target.value);
      if (myvalue) {
        $('#selectbrand').remove();
        $('#applicant_location_id').prop('disabled', null);

        $.each(optionValues[0][0], function (index, option) {
          $(this).hide(); // first hide all options
          if($(this).data(myvalue) === true){
            $(this).show(); // only show options that satisfy condition
          }
        });
      } else {
        var nooptions = $('<option id="selectbrand" selected></option>').text("Please select a brand first");
        $('#applicant_location_id').append(nooptions);
        $('#applicant_location_id').prop('disabled', 'disabled');
      }
    })
  }())
</script>
