<% provide(:title, 'Contact GCG Group Services | GCG Group') %>
<% content_for :head do%>
  <meta name="description" content="In need of catering or ground handling services in one of the 24 GCG Group locations? Find the appropriate contact for your needs through our contact form.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-contact" title="Contact GCG Group for airline, industrial, and event catering in the Caribbean"></section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb30 gcg-group">Contact GCG Group</h3>
        <p class="mt60">In need of catering or ground handling services in one of the 24 locations GCG Group services? Fill out the form below, and a member of the management team will put you in touch with the appropriate contact for your needs.</p>
      </div>
    </div>
  </div>
</section>

<!-- Location  -->
<div class="container mb40">
    <div class="row">
      <div class="col-sm-12">
        <div id="myid" data-mylocations="<%= @locations.to_json %>"></div>
        <div id="map"></div>
    </div>
  </div>
</div>


<%= render 'layouts/second_contact_form' %>





