<% provide(:title, 'The GCG Group Story | GCG Group') %>
<% content_for :head do%>
  <meta name="description" content="GCG Group, formerly Goddard Catering Group, opened in Barbados in 1954. Now we have 24 locations with 3,000 employees across the Caribbean & Latin America.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-history"></section>

<section class="about bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="gcg-group">The GCG Group Story</h3>
        <p class="mt60">
          Formerly Goddard Catering Group, GCG Group opened its first operation at the Crane Hotel in Barbados in 1954. The business provided catering services to major airline customers at the Grantley Adams International Airport. In 1967, the company constructed a dedicated in-flight catering unit at the airport. By 1972, it had established a joint venture with Marriott Corporation and become a leader in the local market.
        </p>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center mt40">
          <p>
            GCG Group opened its first overseas unit in 1974, welcoming the Antigua location to the company. GCG Events would later be launched in Barbados in 2008, offering catering services for all occasions. GCG Group continued its expansion in 2009, adding a third sub-division to its family by welcoming GCG Ground.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center mt40">
          <p>
            Today, GCG Group has 24 locations across the Caribbean and Latin America. Over the last six decades, the company has evolved to best meet the needs of its clients. In addition to commercial, private and corporate airline clients, GCG Catering now works with clients in the industrial and oil, gas and mining sectors. The company also operates a number of airport concessions and restaurants, as well as offers retail options for customers. GCG Events has nine locations today, specializing in catering social events, weddings, corporate events, sporting events, and government functions. Lastly, GCG Ground has grown to operate in three airports. Its crew’s capabilities include: ramp handling, aircraft cleaning, passenger services, ground support, janitorial services, cargo handling, and baggage handling.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center mt40">
          <p>
            GCG Group’s once small team now consists of 3,000 dedicated employees. The company continues to be committed to creating lasting relationships with its clients, built on trust and quality. Each of its three divisions are highly regarded on both a local and international level for providing excellent service. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/second_contact_form' %>