<% provide(:title, 'Airline and Industrial Event Catering Services | GCG Group') %>
<% content_for :head do%>
  <meta name="description" content="A member of the Goddard Enterprises Group, GCG Group is a leading provider of airline, industrial & event catering in the Caribbean and Latin America.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="slide">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
			 	<div class="hero-home" title="Airline, industrial, and event catering in the Caribbean by GCG Group" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-group/general/hero-home01.jpg');"></div>
			</div>
			<div class="item">
				<div class="hero-home" title="Caribbean and Latin America airline, industrial, event catering by GCG Group" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-group/general/hero-home02.jpg');"></div>
			</div>
			<div class="item">
				<div class="hero-home" title="Corporate and industrial event catering by GCG Group" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-group/general/hero-home03.jpg');"></div>
			</div>
		</div>
	</div>
</section>

<!-- Services  -->
<section class="services bg-light-grey">
	<div class="container">
		<div class="row text-center">
			<h3 class="mb30 title-second"> About GCG Group</h3>
			<p class="mt60 mb30">GCG Group is a leading provider of airline, industrial and event catering services in the Caribbean and Latin America. The company is a member of the Goddard Enterprises Group of Companies, and oversees three divisions of its own: GCG Catering, GCG Ground and GCG Events.</p>

			<%= render 'layouts/brands' %>

		</div>
	</div>
</section>


<!-- locations  -->
<!-- <section class="location">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="mb90 text-center title-second">Our Location</h3>
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7864.340804889048!2d-80.29142555964783!3d26.03198117616144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a6254a0ad3ad%3A0xf69f72fe9da1776e!2s2525+Embassy+Dr+%2313%2C+Hollywood%2C+FL+33026!5e0!3m2!1sen!2sus!4v1494853568569" height="100%" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section> -->





<!-- Location  -->
<section class="location">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mb60 title-second text-center">Our Locations</h3>
				<div class="maps" id="myid" data-mylocations="<%= @locations.to_json %>">

        <div id="map"></div>
      
      </div>


				</div>
			</div>
		</div>
	</div>
</section>







<!-- latest news  -->
<section class="news bg-light-grey">
	<div class="container">
		<div class="row">
			<h3 class="mb60 title-second text-center">Latest News</h3>
			<% @blogs.each do |blog| %>
				<div class="col-sm-4 col-xs-12 mt60 mb30 pull-left box-news">
        	<div class="img-blog">
		          <%= image_tag(blog.images[-1].pic.url(:large), class:'img-responsive center-block') if blog.images.present?%>
        	</div>
					<h5><a href="/news/<%= blog.title_for_slug %>"><%= blog.title %></a></h5>
					<p><%= HTML_Truncator.truncate(blog.content_index, 20).html_safe%></p>
					<a href="/news/<%= blog.title_for_slug %>" class="btn btn-custom-default-border transition pl20 pr20 mt15 ">Read more <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
				</div>
			<% end %>
		</div>
	</div>
</section>

