<% provide(:title, 'Caribbean Event Catering and Ground Handling Services | GCG Group') %>
<% content_for :head do%>
  <meta name="description" content="GCG Group's commitment to excellence defines everything we do. The GCG Catering, GCG Ground, and GCG Events teams work to deliver outstanding experiences. ">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-purpose"></section>

<section class="about bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <span class="text-center">
          <h2 class="quote">“A commitment to excellence defines everything we do, and this approach allows our team to deliver outstanding experiences.”</h2>
          <h2 class="author">Stewart Massiah, President</h2>
        </span>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-12">
          <h3 class="mt90 text-left mediumtext gcg-group">Ensuring Client Satisfaction</h3>
          <p class="mt20 text-left">
            GCG Group’s management team is headquartered in Florida. This team is responsible for overseeing the company’s three divisions: GCG Catering, GCG Ground and GCG Events.
          <ul class="mt30 text-left">
            <li class="mt20"><p><strong class="gcg-catering">GCG Catering |</strong> GCG Catering is a leading full-service catering company with 24 locations across the Caribbean and Latin America. Its team is made up of 3,000 highly-trained employees, who adhere to the highest standards in the industry. The company services a number of top airline and industrial clients, and have met and exceeded expectations for more than 60 years.</p></li>
            <li class="mt20"><p><strong class="gcg-ground">GCG Ground |</strong> GCG Ground was established in 2009 to provide a full suite of ground handling services to airlines in the Caribbean and Latin America. The company is guided by its philosophy to provide personal, safe and efficient experiences to its customers, exceeding expectations in the process. In addition to ramp handling and passenger services, GCG Ground furnishes customized solutions for its clients, handling everything from wheelchairs to baggage.</p></li>
            <li class="mt20"><p><strong class="gcg-events">GCG Events |</strong> GCG Events is a full-service catering company with nine locations in the Caribbean and Latin America. Since opening its first location in 2008, GCG Events has become a leading provider of events catering services thanks to a commitment to excellence and the unparalleled culinary skill exhibited by its team.</p></li>
          </ul>
          </p>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-12 text-left mt40">
          <p>
           The company’s primary role is to ensure clients in all 24 locations are provided with the highest quality of service. To this end, it holds its three divisions to high standards. As a result, GCG Group is regarded for providing customers with sustainable value through offering cost-effective, safe and innovative solutions.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-left mt40">
          <p>
            Additionally, GCG Group is committed to providing its always expanding team with an environment where they can thrive. The management team makes it a priority to continuously explore new ways to grow the company while maintaining its reputation for excellence.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
