<% provide(:title, 'GCG Group Terms') %>
<% content_for :head do%>
  <!-- <meta name="description" content="about description"> -->
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<h1>Terms page</h1>
