<% provide(:title, 'Why Choose GCG Group Services | GCG Group') %>
<% content_for :head do%>
  <meta name="description" content="GCG Group is dedicated providing value to clients through the highest of quality standards. Our pillars are excellence, trust, commitment, & flexibility.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-why-choose-us"></section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center mb90 gcg-group">Our Promise</h3>
        <p class="text-center mb30">When you entrust one of GCG Group’s divisions to handle your catering, events or ground handling needs, a first-rate experience is always promised. The company is dedicated to providing sustainable value to every client it works with. To this end, the management staff holds its renowned teams to the highest level of standards in terms of quality and food safety.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light-grey">
  <div class="container">
    <div class="row mb80">
      <div class="col-sm-4 col-xs-12">
        <img alt="GCG Ground" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/gcg-group-excellence.jpg" class="img-responsive center-block"/>
      </div>
      <div class="col-sm-8 col-xs-12">
      <h5>Excellence</h5>
        <p>GCG Group is regarded for providing a higher level of personal service and accessibility, largely due to its belief in creative partnership. Its teams work closely with clients to thoroughly understand the expectations for every partnership. Then, its expertly-trained staff ensures those expectations are not only met, but exceeded.
        </p>
      </div>
    </div>

    <div class="row mb80">
      <div class="col-sm-8 hidden-xs">
      <h5>Trust</h5>
        <p>No relationship can function without trust, including the one between client and service provider. For that reason, establishing and maintaining trust is a top priority at GCG Group. The company prides itself on treating clients like partners, and places high importance on clear and timely communication.
        </p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <img alt="GCG Ground" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/gcg-group-trust.jpg" class="img-responsive center-block"/>
      </div>
      <div class="col-xs-12 promise-mobile">
      <h5>Trust</h5>
        <p>No relationship can function without trust, including the one between client and service provider. For that reason, establishing and maintaining trust is a top priority at GCG Group. The company prides itself on treating clients like partners, and places high importance on clear and timely communication.
        </p>
      </div>
    </div>

    <div class="row mb80">
      <div class="col-sm-4 col-xs-12">
        <img alt="GCG Ground" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/gcg-group-commitment.jpg" class="img-responsive center-block"/>
      </div>
      <div class="col-sm-8 col-xs-12">
      <h5>Commitment</h5>
        <p>The GCG Group team is committed to supporting its clients’ goals, and does so by creating customized and cost-effective solutions for each and every client it works with. Its staff is always looking for innovative ways to perfect the culinary experience, while providing nutritional meals and exceptional service.
        </p>
      </div>
    </div>

    <div class="row mb40">
      <div class="col-sm-8 hidden-xs">
        <h5>Flexibility</h5>
          <p>When servicing the airline, industrial and special events sectors, flexibility is essential. Between the high volumes and unpredictable flight schedules, a catering or ground handling team must be able to adapt to quickly, without sacrificing safety or quality. The GCG Group staff excels in this area, and thus a favorable experience is guaranteed.
          </p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <img alt="GCG Ground" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/gcg-group-flexibility.jpg" class="img-responsive center-block"/>
      </div>
      <div class="col-sm-8 promise-mobile">
        <h5>Flexibility</h5>
          <p>When servicing the airline, industrial and special events sectors, flexibility is essential. Between the high volumes and unpredictable flight schedules, a catering or ground handling team must be able to adapt to quickly, without sacrificing safety or quality. The GCG Group staff excels in this area, and thus a favorable experience is guaranteed.
          </p>
        </div>
    </div>

  </div>
</section>

<div style="background-color: white;">
<%= render 'layouts/second_contact_form' %>
</div>