<h1>You have received a new applicant for GCG-Group</h1>

<h3>Contact Details</h3>

<p>Full name: <%= @applicant.full_name %></p>
<p>Email: <%= @applicant.email %></p>
<p>Brand: <%= @brand %></p>
<p>Location: <%= @applicant.location.name %></p>
<p>Phone: <%= @applicant.phone_number if @applicant.phone_number.present? %></p>
