/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Colors----------------------------------------*/
/*--------------------------------------------------------------------------------------*/
$primary:#98a1a6;
$secondary:#5aa3ac;
$third:#a6b999;
$fourth:#f69664;
$color-link:#45616c;
$gcg-group:#45606a;

$white:#ffffff;
$blue:#348fe2;
$black:#2d353c;
$purple:#727cb6;
$orange:#f85203;
$yellow:#f59c1a;
$green:#00acac;
$red:#f35958;
$grey:#B3B3B3;
$brown: #836e2e;

/*Light Colors*/
$light-primary:#f8a87e;
$light-secondary:#527481;

$light-green:#7ac5c8;
$light-blue:#b8c9d6;
$light-red:#e6777a;
$light-grey:#f9f9f9;
$light-orange:#ED8350;

/*Dark Colors*/
$dark-green:#26D26E;
$dark-blue:#2f4050;
$dark-red:#531a1f;
$dark-grey:#777777;
$dark-orange:#fa6132;

$dark-primary:#df8150;
$dark-secondary:#334850;

/*Social Media*/
$facebook:#3c5a99;
$google:#C63D2D;
$instagram:#4E433C;
$pinterest:#BD081c;
$linkedin:#4875B4;
$twitter:#55acee;
$vimeo:#86B32D;
$youtube:#b31217;
$kijiji:#4c4b6d;
$craigslist:#5D008F;

/* Background Color classes */
.bg-primary{background: $primary !important}
.bg-secondary{background: $secondary;}
.bg-color-link{background:$color-link;}

.bg-white{background:$white;}
.bg-blue{background: $blue !important;}
.bg-black{background:$black !important;}
.bg-purple{background: $purple !important;}
.bg-orange{background:$orange !important}
.bg-yellow{background:$yellow !important;}
.bg-green{background: $green !important;}
.bg-red{background:$red !important;}
.bg-grey{background:$grey !important}
.bg-brown{background:$brown !important}

.bg-light-green{background:$light-green !important}
.bg-light-blue{background:$light-blue !important}
.bg-light-red{background:$light-red !important}
.bg-light-grey{background:$light-grey !important}
.bg-light-orange{background:$light-orange !important}

.bg-dark-green{background:$dark-green !important}
.bg-dark-blue{background:$dark-blue !important}
.bg-dark-red{background:$dark-red !important}
.bg-dark-grey{background:$dark-grey !important}
.bg-dark-orange{background:$dark-orange !important}

.bg-facebook{background:$facebook !important}
.bg-google{background:$google !important}
.bg-instagram{background:$instagram !important}
.bg-pinterest{background:$pinterest !important}
.bg-linkedin{background:$linkedin !important}
.bg-twitter{background:$twitter !important}
.bg-vimeo{background:$vimeo !important}
.bg-youtube{background:$youtube !important}
.bg-kijiji{background:$kijiji !important}
.bg-craigslist{background:$craigslist !important}

.bg-transparent{background: transparent;}



/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Buttons---------------------------------------*/
/*--------------------------------------------------------------------------------------*/

/*NEWWWWWWWWWWWWWWWWWWWWWWWW*/

.btn-custom-default{
  color:$black;
  background-color: $light-grey;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white;
    background-color: $grey;
    box-shadow: none !important;
  }
}

.btn-custom-primary{
  color:$white;
  background-color: $primary;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $dark-primary ;
    box-shadow: none !important;
  }
}

.btn-custom-fourth{
  color:$white;
  background-color: #a6b999;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $dark-primary ;
    box-shadow: none !important;
  }
}

.btn-custom-secondary {
  color:$white;
  background-color: $secondary;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $dark-secondary;
    box-shadow: none !important;
  }
}

/* NEW BTN BORDER */

.btn-custom-default-border {
  color:$primary;
  background-color: $white;
  border: 2px solid $primary !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $primary;
    box-shadow: none !important;
  }
}
.btn-custom-primary-border {
  color:$gcg-group !important;
  background-color: $white !important;
  border: 2px solid $gcg-group !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:white !important;
    background-color: $gcg-group !important;
    box-shadow: none !important;
  }
}
.btn-custom-secondary-border {
  color:$fourth;
  background-color: $white;
  border: 2px solid $fourth !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white !important;
    background-color: $fourth;
    box-shadow: none !important;
  }
}
.btn-custom-third-border {
  color:$secondary;
  background-color: $white;
  border: 2px solid $secondary !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white !important;
    background-color: $secondary;
    box-shadow: none !important;
  }
}
.btn-custom-fourth-border {
  color:#a6b999;
  background-color: $white;
  border: 2px solid #a6b999 !important;
  border-radius: 25px !important;
  &:hover, &:focus, &.focus, &:active, &.active{
    color:$white !important;
    background-color: #a6b999;
    box-shadow: none !important;
  }
}


.title-first {
  color:$primary;
}
.title-second {
  color:$color-link;
}

a {
  color:$primary;
  text-decoration: none;
  &:hover, &:focus{
    color:$secondary ;
    text-decoration: none !important;
    background: transparent;
  }
}



.img-circle-border {
    border: 3px solid $secondary;
    padding: 5px;
    width: 100%;
    border-radius: 50%;
}

.transition {
    transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}



/*--------------------------------------------------------------------------------------*/
/*----------------------------------------Errors----------------------------------------*/
/*--------------------------------------------------------------------------------------*/
.has-error .form-control::-moz-placeholder {color: $dark-red;}
.has-error .form-control:-ms-input-placeholder {color: $dark-red;}
.has-error .form-control::-webkit-input-placeholder {color:$dark-red;}

.form-group .has-error {
  margin-bottom:6px;
  &.help-block{
    margin-bottom:4px;
  }
}

/*need to finish this up*/
/*#error_explanation {
  background-color: grey;
  border: 2px solid orange;
}
#error_explanation > h2{
  background-color: red;
}
#error_explanation > ul > li{
  background-color: blue;
}*/


/* From Michael Hartl */
/*#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error !optional;
 }*/



/*
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  width: 100%;
  h2 {
    margin-top: 10px;
    font-size: 16px;
  }
  ul {
    margin-top: 2em;
  }
}
*/

/*--------------------------------------------------------------------------------------*/
/*-----------------------------------Margin & Padding-----------------------------------*/
/*--------------------------------------------------------------------------------------*/
$a:0;
@while $a <= 500{
  // Margin
  .mt#{$a}{margin-top: $a*1px !important;}
  .mb#{$a}{margin-bottom: $a*1px !important;}
  .ml#{$a}{margin-left: $a*1px !important;}
  .mr#{$a}{margin-right: $a*1px !important;}
  .mAll#{$a}{margin: $a*1px !important;}

  // Padding
  .pt#{$a}{padding-top: $a*1px !important; }
  .pb#{$a}{padding-bottom: $a*1px !important; }
  .pl#{$a}{padding-left: $a*1px !important; }
  .pr#{$a}{padding-right: $a*1px !important; }
  .pAll#{$a}{padding: $a*1px !important;}
  @if $a <= 14{
    $a:$a+1;
  }
  @else{
    $a:$a+5;
  }
}

/*Variables SCSS*/
$default-transition-duration : 1.2s;


/*Boostrap Media Query*/
$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;
$padding-screen:15px;