<% provide(:title, 'GCG Group in the News | GCG Group') %>
<% content_for :head do%>
  <meta name="description" content="When you provide unrivaled levels of service to clients that entrusts you with their business, people start to talk. Read about GCG Group in the news.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-press">
    <!-- <div class="hero-text">
      <h2 class="big">GCG in the News</h2>
    </div> -->
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center mb90 gcg-group">GCG Group in the News</h3>
        <p class="text-center mb30">When you provide an unrivaled level of service to every client that entrusts you with their business, people are bound to talk. Here’s what people are saying about GCG Group.</p>
      </div>
    </div>
  </div>
</section>

<!-- press  -->
<section class="bg-light-grey">
  <div class="container">
  <%= link_to 'New Press', new_blig_path, class:"btn btn-primary btnNewBlog" if current_user.try(:admin?)%>
  <% @bligs.each do |blig| %>
    <div class="row">
      <div class="box-press">
        <div class="col-md-3 col-sm-4">
        <%= link_to blig_path(blig.title_for_slug) do %> 
          <%= image_tag(blig.images[0].pic.url(:medium), class:'img-responsive imgbig') if blig.images.present?%>
        <% end %>
        </div>
        <div class="col-md-9 col-sm-8">
          <h4 class="color-secondary"><%= link_to blig.title, blig_path(blig.title_for_slug), class: 'gcg-group-light'%></h4>
          <p class="small mt15 mb15"><%= HTML_Truncator.truncate(blig.content_index, 45, :ellipsis => '...').html_safe %></p>
          <%= link_to 'Read More', blig_path(blig.title_for_slug), class:"btn btn-custom-primary-border transition pl30 pr30 mt15" %>
          <%= link_to 'Edit', edit_blig_path(blig.title_for_slug), class:"btn btn-custom-primary-border transition pl30 pr30 mt15" if current_user.try(:admin?) %>
          <%= link_to 'Destroy', blig_path(blig.title_for_slug), class:"btn btn-custom-primary-border transition pl30 pr30 mt15", method: :delete, data: { confirm: 'Are you sure' } if current_user.try(:admin?) %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</section>