<% provide(:title, "GCG Group Press | #{@blig.title}") %>
<% content_for :head do%>
  <meta name="description" content="<%= @blig.meta_description %>">
  <meta name="keywords" content="<%= @blig.meta_keywords %>">
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="bgGrey">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h4><%= @blig.title %></h4>
        <p class="small mb30"><%= @blig.pubdate.strftime("%B %d, %Y") if @blig.pubdate.present? %></p>

        <%= image_tag(@blig.images[0].pic.url(:large), class:'img-responsive imgbig') if @blig.images.present? %>
        <p class="mt30"><%= @blig.content.html_safe %></p>
        <div class="mt30">
          <%= link_to 'Back', bligs_path, class: "btn btn-custom-primary-border btnBlog" %>
          <%= link_to 'Edit', edit_blig_path(@blig.title_for_slug), class: "btn btn-custom-primary-border btnBlog" if current_user.try(:admin?) %>
        </div>
      </div>
    </div>

  </div>
</section>