<%= form_for(@location, :url => (@location.new_record? ? locations_url : location_path(@location.title_for_slug))) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.check_box :gcg_events %>
    <%= f.label :gcg_events %>
  </div>
  
  <div class="form-group">
    <%= f.check_box :gcg_catering %>
    <%= f.label :gcg_catering %>
  </div>
  
  <div class="form-group">
    <%= f.check_box :gcg_ground %>
    <%= f.label :gcg_ground %>
  </div>
  
  <div class="form-group">
    <%= f.submit class: "form-control btn btn-primary" %>
  </div>
<% end %>