<% provide(:title, 'GCG Group | Locations') %>
<% content_for :head do%>
  <!-- <meta name="description" content="home description"> -->
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<div class="container mb40">
    <div class="row">
      <div class="col-sm-12">
        <div id="myid" data-mylocations="<%= @locations.to_json %>"></div>
        <div id="map"></div>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Location Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
          <td><%= link_to 'Edit', edit_location_path(location.title_for_slug) %></td>
          <td><%= link_to 'Destroy', location_path(location.title_for_slug), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>

<% if current_user.try(:admin?) %>
  <%= link_to 'New Location', new_location_path, class: "btn btn-primary pull-right mb50" %>
<%  end %>
</div>

