<section class="hero-about mb30"></section>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 mb30">
      <h2 class="mb30">Edit Location</h2>
      <%= render 'form' %>
    </div>
  </div>
</div>