<% provide(:title, 'GCG Group Locations in the Caribbean and Latin America | GCG Group') %>
<% content_for :head do%>
  <meta name="description" content="Discover our 24 locations throughout the Caribbean, Latin America, & Florida. Find branches for each of our catering, ground handling, & events divisions.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="hero-locations" title="GCG Group locations throughout the Caribbean and Latin America"></section>

<!-- locations  -->
<!-- <section class="location">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb90 text-center title-second">Our Locations</h3>
        <div class="map2">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7864.340804889048!2d-80.29142555964783!3d26.03198117616144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a6254a0ad3ad%3A0xf69f72fe9da1776e!2s2525+Embassy+Dr+%2313%2C+Hollywood%2C+FL+33026!5e0!3m2!1sen!2sus!4v1494853568569" height="100%" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section class="location">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="mb90 text-center title-second">Our Locations <%= link_to "(Add/Edit location)", all_locations_path if current_user.try(:admin?)%></h3>
        <div class="map2" id="myid" data-mylocations="<%= @locations.to_json %>">

        <div id="map"></div>
      
      </div>


        </div>
      </div>
    </div>
  </div>
</section>




<section class="bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="mb60 text-center">Send us a Message</h5>
        <div class="message">

          <%= form_for Contact.new, :html => { :id => "new_contact", :honeypot => true }, :url => {:controller => "contacts", :action => "create"} do |f| %>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :name, class: "sr-only" %>
              <%= f.text_field :name, class: "form-control", placeholder: "Full Name", required: true %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :email, class: "sr-only" %>
              <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.label :phone_number, class: "sr-only" %>
              <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone", required: true %>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="form-group">
              <%= f.label :message, class: "sr-only" %>
              <%= f.text_area :message, class: "form-control", rows: 3, placeholder: "Message", required: true %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.submit "Submit", class: "btn btn-default btn-xl" %>
            </div>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>