<% if current_page?(root_path) %>

<div class="col-md-4 col-xs-6 colMobile">
  <div class="box-services ground">
    <div class="wrap-img">
      <a href="http://www.gcg-ground.com">
        <img alt="GCG Ground" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/gcg-ground.jpg" class="img-responsive center-block"/>
      </a>
    </div>
    <div class="text">
      <div class="icon">
      <a href="http://www.gcg-ground.com">
        <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/icon-gcg-ground1.png" alt="GCG Ground Handling Services by GCG Group">
      </a>
      </div>
      <h4 class="mt15 mb10"><a href="http://www.gcg-ground.com">GCG Ground</a></h4>
      <p>GCG Ground was established in 2009 to provide a full suite of ground handling services to airlines. The company operates in three locations in the Caribbean.</p>
      <a href="http://www.gcg-ground.com" class="btn btn-custom-fourth-border transition pl20 pr20 mt15 ">Read more</a>
    </div>
  </div>
</div>
<div class="col-md-4 col-xs-6 colMobile">
  <div class="box-services events">
    <div class="wrap-img">
      <a href="http://www.gcg-events.com">
        <img alt="GCG Events" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/gcg-events1.jpg" class="img-responsive center-block"/>
      </a>
    </div>
    <div class="text">
      <div class="icon">
      <a href="http://www.gcg-events.com">
        <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/icon-gcg-events1.png" alt="Caribbean and Latin America event catering by GCG Group">
      </a>
      </div>
      <h4 class="mt15 mb10"><a href="http://www.gcg-events.com">GCG Events</a></h4>
      <p>GCG Events opened its first location in 2008, and has since become one of the top events caterers in the nine areas its team operates.</p>
      <a href="http://www.gcg-events.com" class="btn btn-custom-secondary-border transition pl20 pr20 mt15 ">Read more </a>
    </div>
  </div>
</div>
<div class="col-md-4 col-xs-6 colMobile third">
  <div class="box-services catering">
    <div class="wrap-img">
      <a href="http://www.gcg-catering.com">
        <img alt="Event catering in the Caribbean and Latin America by GCG Group" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/gcg-catering1.jpg" class="img-responsive center-block"/>
      </a>
    </div>
    <div class="text">
      <div class="icon">
      <a href="http://www.gcg-catering.com">
        <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/icon-gcg-catering1.png" alt="GCG Catering">
      </a>
      </div>
      <h4 class="mt15 mb10"><a href="http://www.gcg-catering.com">GCG Catering</a></h4>
      <p>GCG Catering has been a leader in the catering industry for more than 60 years. Now with 24 locations, the company services a diverse range of industries.</p>
      <a href="http://www.gcg-catering.com" class="btn btn-custom-third-border transition pl20 pr20 mt15 ">Read more </a>
    </div>
  </div>
</div>


<% else %>
<section class="bg-light-grey">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-6 colMobile">
      <div class="box-services ground">
        <div class="wrap-img">
          <a href="/services-ramp-handling">
            <img alt="GCG Ground" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/gcg-ground.jpg" class="img-responsive center-block"/>
          </a>
        </div>
        <div class="text">
          <div class="icon">
            <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/icon-gcg-ground1.png" alt="GCG Ground">
          </div>
          <h4 class="mt15 mb10"><a href="http://www.gcg-ground.com">GCG Ground</a></h4>
          <p>GCG Ground was established in 2009 to provide a full suite of ground handling services to airlines. The company operates in three locations in the Caribbean and Latin America.</p>
          <button type="submit" class="btn btn-custom-primary-border transition pl20 pr20 mt15 ">Read more </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-6 colMobile">
      <div class="box-services events">
        <div class="wrap-img">
          <a href="/services-aircraft-cleaning">
            <img alt="GCG Events" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/gcg-events1.jpg" class="img-responsive center-block"/>
          </a>
        </div>
        <div class="text">
          <div class="icon">
            <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/icon-gcg-events1.png" alt="GCG Events">
          </div>
          <h4 class="mt15 mb10"><a href="http://www.gcg-events.com">GCG Events</a></h4>
          <p>GCG Events opened its first location in 1974, and has since become one of the top events caterers in the nine areas its team operates.</p>
          <button type="submit" class="btn btn-custom-secondary-border transition pl20 pr20 mt15 ">Read more </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-6 colMobile third">
      <div class="box-services catering">
        <div class="wrap-img">
          <a href="/services-passenger-services">
            <img alt="GCG Catering" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/gcg-catering1.jpg" class="img-responsive center-block"/>
          </a>
        </div>
        <div class="text">
          <div class="icon">
            <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/gcg-group/general/icon-gcg-catering1.png" alt="GCG Catering">
          </div>
          <h4 class="mt15 mb10"><a href="http://www.gcg-catering.com">GCG Catering</a></h4>
          <p>GCG Catering has been a leader in the catering industry for more than 60 years. Now with 24 locations, the company services a diverse range of industries.</p>
          <button type="submit" class="btn btn-custom-third-border transition pl20 pr20 mt15 ">Read more </button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<% end %>