<!-- Footer  -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-3 footerMobile">
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/press">Press</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-3 footerMobile">
        <ul>
          <li><a href="http://www.gcg-ground.com">GCG Ground</a></li>
          <li><a href="http://www.gcg-events.com">GCG Events</a></li>
          <li><a href="http://www.gcg-catering.com">GCG Catering</a></li>
          <li>
            <a class="white" href="https://www.facebook.com/GCGGroupInternational/" target="blank"><img src="https://s3.amazonaws.com/shared-social-media/general/facebook.png" alt=""></a> &nbsp;
            <a class="white" href="https://www.linkedin.com/company/gcggroup" target="blank"><img src="https://s3.amazonaws.com/shared-social-media/general/linkedin.png" alt=""></a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-md-offset-2 col-sm-6 col-xs-6 footerMobile text-right">
        <p><b>GCG Group - GCG Group</b><br>
        <span>2525 Embassy Drive Suite #13<br>
        Cooper City, FL 33026 USA<br>
        Phone: (954) 438-9855<br>
        Fax: (954) 438-9560<br></span></p>
      </div>
    </div>
  </div>
</footer>