<!-- Top Navigation  -->
<section class="navigation"> 
<div class="container">
  <div class="row">
    <nav class="navbar navbar-fixed-top navbar-custom barra">
      <div class="container">
        <div class="row">
        <div data-scroll-header class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="https://s3-us-west-2.amazonaws.com/gcg-group/general/gcg-group.jpg" class="img-responsive center-block"/></a>
        </div>

        <div class="collapse navbar-collapse" id="nav">
            
            <ul class="nav navbar-nav navbar-right">                
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Company</a>
                  <ul class="dropdown-menu company">  
                      <li><a href="/purpose">Purpose</a></li>
                      <li><a href="/history">History</a></li>
                      <li><a href="/why-choose-us">Why Choose Us</a></li>
                      <li><a href="/press">Press</a></li>
                      <li><a href="/team">HDQ Team</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Brands</a>
                  <ul class="dropdown-menu brands">                
                      <li><a href="http://www.gcg-catering.com" target="blank">GCG Catering</a></li>
                      <li><a href="http://www.gcg-events.com" target="blank">GCG Events</a></li>
                      <li><a href="http://www.gcg-ground.com" target="blank">GCG Ground</a></li>
                  </ul>
                </li>
                <li><a href="/locations">Locations</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/careers">Careers</a></li>        
                <li><a href="/contact">Contact</a></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Logout", destroy_user_session_path, class: "secondary", :method => :delete %></li>
                <% end %>
            </ul>
        </div>
        </div>
      </div>
    </nav>
  </div>
</div> 
</section>